.controls-container {
    min-height: 100px;
    display: flex;
    justify-content: center;
}

.panel-frame {
    position: relative;
    border-top: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    background-color: var(--panel-color);
    padding: var(--space);

    &:last-child {
        border-right: none;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding-inline-start: 1em;
    }
}

.dashboard-panel {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.wheel-widget-panel {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .range-wrapper {
        position: absolute;
        bottom: 50%;
        opacity: .2;
        transform: scaleY(10);
        left: 0;
        right: 0;
    }

    .range-control {
        width: 100px;
        margin: 0 auto;
        display: block;
    }

    .locked-wrapper {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.sail-widget-panel {
    .sail-wrapper {
        display: flex;
        height: 80px;
    }
}