.controls-container {
    min-height: 100px;
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0;

    @media screen and (min-height:500px) {
        bottom: unset;
        position: relative;
    }
}

.panel-frame {
    padding: var(--space);

    &:last-child {
        border-right: none;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding-inline-start: 1em;
    }

    text-shadow: 1px 1px white;
    backdrop-filter: saturate(50%) blur(1px);

    @media screen and (min-height:500px) {
        border-top: 2px solid var(--border-color);
        border-right: 2px solid var(--border-color);
        backdrop-filter: unset;
        background-color: var(--panel-color);
        text-shadow: unset;
    }
}

.dashboard-panel {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.wheel-widget-panel {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .range-wrapper {
        position: absolute;
        bottom: 50%;
        opacity: .2;
        transform: scaleY(10);
        left: 0;
        right: 0;
    }

    .range-control {
        width: 100px;
        margin: 0 auto;
        display: block;
    }

    .locked-wrapper {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.sail-widget-panel {
    .sail-wrapper {
        display: flex;
        height: 80px;
    }
}