.controls-container {
    min-height: 100px;
    display: flex;
    justify-content: center;
}

.panel-frame {
    position: relative;
    border-top: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    background-color: var(--panel-color);
    padding: var(--space);

    &:last-child {
        border-right: none;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding-inline-start: 1em;
    }
}

.wheel-widget-panel {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .wheel-frame {
        position: relative;
        margin: 0px auto;
        overflow: visible;
    }

    .wheel {
        position: absolute;
        border-radius: 20%;
        left: 50%;
        top: 50%;
        transition: transform .2s;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px black;
        align-items: center;
        line-height: 0;
        color: saddlebrown;
        border-top: 2px dotted saddlebrown;
    }

    .range-wrapper {
        position: absolute;
        bottom: 50%;
        opacity: .2;
        transform: scaleY(10);
        left: 0;
        right: 0;
    }

    .range-control {
        width: 100px;
        margin: 0 auto;
        display: block;
    }

    .locked-wrapper {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.sail-widget-panel {
    .sail-wrapper {
        display: flex;
        height: 80px;
    }

    .sail-figure {
        position: relative;
        box-sizing: border-box;
        border-top: 3px solid saddlebrown;
        margin: 0 auto;
    }

    .mast {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        border-right: 3px solid saddlebrown;
    }

    .sail {
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto;
        border: 1px solid black;
        position: absolute;
        top: 0;
        left: 5%;
    }

    .target-line {
        width: 100%;
        border-bottom: 3px dashed gray;
        position: absolute;
        left: 0;
        height: 0;
    }
}