.game-wrapper-outer {
  display: flex;
  justify-content: center;
}

.game-wrapper-inner {
  position: relative;
  border: 2px solid var(--border-color);
  max-height: 100vh;
}

.game-screen-container {
  position: relative;
}

.speech-bubble {
  margin: 0;
  font-family: var(--speech-font);
  background-color: white;
  color: var(--accent-color);
  padding: var(--space);
  border-radius: var(--space);
  position: relative;
  border-top-left-radius: 0;
  min-height: 2em;
  filter: drop-shadow(-1px 2px 4px black);

  >.speech-bubble-tail {
    background-color: inherit;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 1rem;
    height: .75rem;
    border-bottom-left-radius: 1rem;
  }
}

.performance-monitor {
  position: fixed;
  pointer-events: none;
  right: 0;
  bottom: 0;
  font-family: monospace, sans-serif;
  color: white;
}


@keyframes slidein {
  from {
    height: 0em;
    color: red;
  }

  to {
    height: 1em;
    color: var(--ink-color);
  }
}

.message-log {
  pointer-events: none;
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 1em;
  }

  li {
    height: 1em;
    color: var(--ink-color);
    text-shadow: 1px 1px white;
  }

  li:first-child {
    animation-duration: 1s;
    animation-name: slidein;
  }
}


.wheel-frame {
  position: relative;
  margin: 0px auto;
  overflow: visible;
}

.wheel {
  position: absolute;
  border-radius: 30%;
  left: 50%;
  top: 50%;
  transition: transform .2s;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px black;
  align-items: center;
  line-height: 0;
  color: saddlebrown;
  border-top: 5px outset saddlebrown;
}

.sail-figure {
  position: relative;
  box-sizing: border-box;
  border-top: 3px solid saddlebrown;
  margin: 0 auto;

  .mast {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    border-right: 3px solid saddlebrown;
  }
  
  .sail {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 5%;
  }
  
  .target-line {
    width: 100%;
    border-bottom: 3px dashed gray;
    position: absolute;
    left: 0;
    height: 0;
  }
}

.blur-frame {
    padding: 2px;
    backdrop-filter: blur(2px) brightness(150%) contrast(50%);
    color: black;
    text-shadow: 1px 1px white;
    pointer-events: none;
}
