
:root {
    --blueSkyBlue: #0a7aff;
}

.share-link {
    display: inline-flex;
    font-size: larger;
    background-color: var(--blueSkyBlue);
    color: white;
    padding: 5px;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    border-radius: 3px;
    outline: 1px solid gray;
}

.share-link:hover {
    outline: 1px solid black;
}

.share-link svg {
    height: 1em;
    fill: white;
}

.share-link span {
    line-height: 1;
    text-align: center;
    flex: 1;
}