.skull-stamp {
  background-image: url(./jolly-rodger.png);
  background-clip: padding-box;
  background-position: bottom right;
  background-size: 10rem;
  background-repeat: no-repeat;
}

.button-stack {
  min-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--small-space);

  button {
    font-size: larger;
  }
}

.scrawl-button {
  min-width: 1.5em;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  border: none;
  background-color: unset;
  color: var(--accent-color);
  font-family: var(--title-font);
  cursor: pointer;

  &:hover{
    color: var(--text-color);
  }
}

.game-wrapper {
  border: 2px solid var(--border-color);
}

.menu-icon {
  display: inline-flex;
  background-color: black;
  padding: 2px;
  border-radius: 50%;

  i {
    font-size: large;
    font-style: normal;
  }
}

.speech-bubble {
  font-family: var(--speech-font);
  background-color: white;
  color: var(--accent-color);
  padding: var(--space);
  border-radius: var(--space);
  position: relative;
  border-top-left-radius: 0;
  min-height: 2em;
  filter: drop-shadow(-1px 2px 4px black);

  >.speech-bubble-tail {
    background-color: inherit;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 1rem;
    height: .75rem;
    border-bottom-left-radius: 1rem;
  }
}

.performance-monitor {
  position: fixed;
  pointer-events: none;
  right: 0;
  bottom: 0;
  font-family: monospace, sans-serif;
}


@keyframes slidein {
  from {
    height: 0em;
    color: red;
  }

  to {
    height: 1em;
    color: var(--ink-color);
  }
}

.message-log {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 1em;
  }

  li {
    height: 1em;
    color: var(--ink-color);
  }

  li:first-child {
    animation-duration: 1s;
    animation-name: slidein;
  }
}

