@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');

:root {
  --title-font: 'The Nautigal', cursive, sans-serif;
  --speech-font: cursive, sans-serif;
  --text-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --page-bg: cornsilk;
  --accent-color: crimson;
  --ink-color: black;
  --border-color: gray;
  --panel-color: khaki;
  --space: .5rem;
  --small-space: .25rem;
}

body {
  margin: 0;
  overflow-y: hidden;
  background-color: var(--page-bg);
}

.no-select-highlight::selection {
  color: inherit;
  background-color: unset;
}