:root {
  --heading-font: cursive, sans-serif;
  --text-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --page-bg: cornsilk;
  --dialog-bg: khaki;
  --accent-color: darkred;
  --ink-color: black;
  --border-color: gray;
  --space: .5rem;
  --small-space: .25rem;
}

body {
  margin: 0;
  overflow-y: hidden;
  background-color: var(--page-bg);
}

.no-select-highlight::selection {
  color: inherit;
  background-color: unset;
}