@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');

:root {
  --title-font: 'The Nautigal', cursive, sans-serif;
  --speech-font: cursive, sans-serif;
  --text-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --page-bg: cornsilk;
  --accent-color: crimson;
  --ink-color: black;
  --border-color: gray;
  --panel-color: khaki;
  --space: .5rem;
  --small-space: .25rem;
}

body {
  margin: 0;
  overflow-y: hidden;
  background-color: var(--page-bg);

  /* source: https://commons.wikimedia.org/wiki/File:Flag_of_Edward_England.svg */
  /* license: https://creativecommons.org/licenses/by-sa/3.0/ */
  background-image: url(/pirates-images/320px-Flag_of_Edward_England.svg.png);
  background-size: 150px;
}

#root {
  font-family: var(--text-font);
  color: var(--ink-color);
}

.paper {
  border-image-source: url(/pirates-images/page.png);
  border-image-repeat: round;
  border-image-slice: calc(30 / 160 * 100%) calc(30 / 160 * 100%) fill;
  border-image-width: 1rem;
  padding: var(--space);
}

.skull-stamp {
  background-image: url(/pirates-images/jolly-rodger.png);
  background-clip: padding-box;
  background-position: bottom right;
  background-size: 10rem;
  background-repeat: no-repeat;
}

.title-screen {
  padding: 10px 90px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 2rem;
}

h1,
h2 {
  font-family: var(--title-font);
  margin: 0 0 var(--space);
}

h1 {
  font-size: 4rem;
  color: var(--accent-color);
}

h2 {
  font-size: 2.5rem;
}

p {
  margin: 0 0 var(--space);
}

.no-select-highlight::selection {
  color: inherit;
  background-color: unset;
}